body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  font-size: small;
  width: 350px;
  margin: auto;
}

h1 {
  text-align: center;
}

button, span {
  cursor: pointer;
}

nav {
  background-color:antiquewhite;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  display:flow-root;
  margin: 5px;
}

.float-right {
  float: right;
}

.list {
  margin: 5px;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  background-color: lightpink;
}