body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  max-width: 400px;
  font-size: small;
  margin: auto;
}

h1 {
  text-align: center;
}

h4 {
  font-style: italic;
}

button, span {
  cursor: pointer;
}

nav {
  background-color:antiquewhite;
  padding: 3px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  display: flow-root;
}

table {
  width: 100%;
  text-align: left;
}

.float-right {
  float: right;
}

.list {
  margin: 5px;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  background-color: lightpink;
}

.task-name {
  font-weight: bold;
}

.new-list-btn {
  margin: 5px;
}

.modalDiv {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  background: lightblue;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 30px;
}