body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: lightblue;
  font-size: small;
  width: 350px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  margin: 4px;
}

nav {
  background-color:antiquewhite;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  text-align: left;
  display:flow-root;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.list {
  margin: 5px 0px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  background-color: antiquewhite;
}

.list button {
  width: 15px;
  height: 15px;
  padding: 0px;
  margin: 4px;
  font-size: smaller;
}

.task {
  text-align: left;
}